[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"

[packages]
pyspark = "*"
data_transformations = {editable = true, path = "."}

[requires]
python_version = "3.6"
