-i https://pypi.org/simple
.
astroid==2.4.2; python_version >= '3.5'
attrs==20.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
importlib-metadata==2.0.0; python_version < '3.8'
iniconfig==1.0.1
isort==5.5.4; python_version >= '3.6' and python_version < '4.0'
lazy-object-proxy==1.4.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
mccabe==0.6.1
packaging==20.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pluggy==0.13.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
py4j==0.10.9
py==1.9.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pylint==2.6.0
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyspark==3.0.1
pytest==6.1.1
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
toml==0.10.1
typed-ast==1.4.1; python_version < '3.8' and implementation_name == 'cpython'
wrapt==1.12.1
zipp==3.3.0; python_version >= '3.6'
